{% extends 'index.html' %}
{% load static %}

{% block content %}
    {% include 'components/paging.html' with data=data %}
    <div class="album bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for event in data %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="http://127.0.0.1:8000/static{{ event.img }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'components/paging.html' with data=data %}
{% endblock content %}